[Unit]
Description=Ipset-RPC Daemon
After=network.target

[Service]
Type=simple
User=ipset-rpcd
WorkingDirectory=/opt/stunet/ipset-rpcd
ExecStart=/usr/bin/python3 /opt/stunet/ipset-rpcd/ipset-rpcd.py
Restart=always
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy=multi-user.target
