# This file is read by ipset-rpcd on startup
# It maps roles and users to their respective ipsets

[roles]
normal = role-normal

[users]
foo = service-http, service-something
bar = service-yet-another-thing
